@import model.DriverInfo
@(driverInfo: DriverInfo)

@main("Welcome to Play") {

	<article>
		<h1>Hi, I'm @{driverInfo.userInfo.uberUserInfo.firstName}</h1>
		<p>@{driverInfo.driverBio.bio}</p>
	</article>

		<!-- Swiper -->
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">Likes running</div>
			<div class="swiper-slide">Has two children</div>
			<div class="swiper-slide">Travels to India multiple times a year</div>
			<div class="swiper-slide">Apple Fan</div>
			<div class="swiper-slide">Used to be a professional cricket player</div>
		</div>
	</div>

	<script>
		var swiper = new Swiper('.swiper-container');
	</script>

}
