@import bourbon/app/assets/stylesheets/bourbon

html, body
  height: 100%

body
  // +linear-gradient(30deg, purple, green, yellow)
  // color: magenta

// THIS IS AN EXAMPLE FOR GI
.container
  +display(flex)


.swiper-container
  width: 500px
  height: 300px
  margin: 20px auto

.swiper-slide
  text-align: center
  font-size: 18px
  background: pink
  +display(flex)
  justify-content: center
  align-items: center
